QWidget {
   background-color: #DDDDDD;
   font: bold italic large "Sunflower"
}

QPushButton {
   background-color: #00BDFF;
   color: #222222;
   border-radius: 10%;
   border-style: none;
   height: 25px;
   border: 1px solid #555555;
}

QPushButton:hover{
   background-color: #00E8FF;
}